{
  "extends": "standard",

  # "comma-dangle": ["error", {
  #       "arrays": "never",
  #       "objects": "never",
  #       "imports": "never",
  #       "exports": "never",
  #       "functions": "ignore"
  #   }],

  # "trailing-comma": [true, {"multiline": "always", "singleline": "never"}],

  "rules": {
    "no-new": 0,
    },

  "plugins": ["html"]
}
